body{
font-family: 'M PLUS Rounded 1c', sans-serif;
margin: 0;
}

.half-width{
width: 40%;
float: left;
margin-left: 5%;
padding: 5px;
}

.half-width img{
width: 100%;
}

.top-banner{
background-image: url("res/top-banner.png");
background-repeat: no-repeat;
}

section{
height: 500px;
}

.link-btn{
text-decoration: none;
background-image: linear-gradient(45deg , rgb(241, 140, 100) , Tomato );
color: white;
padding: 10px;
/* border: 1px solid black; */
border-radius: 5px;
}

.dream-area{
background-image: url("res/dream-bg.png");
background-repeat: no-repeat;
background-position: right;
}

.exp-box{
    box-shadow: 10px 10px 40px gray;
    height: 60%;
    padding: 10px;
}

.expe-area{
    background-image: url("res/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

#b1{
    border-left: 7px solid;
    border-image: linear-gradient(180deg , lightSalmon , tomato);
    border-image-slice: 1;
    background-color: white;
}

#b2{
    border-left: 7px solid;
    background-color: white;
    border-image: linear-gradient(180deg , blue , cyan);
    border-image-slice: 1;
}